@import "../../variables";
@import "../../mixins";

a {
  color: $primary-text-color;
  text-decoration: none;
}
h1 {
  text-align: center;
  display: inline-block;
}
.subheader {
  text-align: center;
  text-transform: uppercase;
  @include for-size(phone-only) {
    padding: 0.4rem 0 0.4rem 0;
    border-bottom: 1px solid $primary-text-color;
    border-top: 1px solid $primary-text-color;
  }
  @include for-size(tablet-portrait-up) {
    padding: 0.6rem 0 0.6rem 0;
    border-bottom: 1px solid $primary-text-color;
    border-top: 1px solid $primary-text-color;
  }
  @include for-size(tablet-landscape-up) {
    padding: 0.8rem 0 0.8rem 0;
    border-bottom: 2px solid $primary-text-color;
    border-top: 2px solid $primary-text-color;
  }
  @include for-size(desktop-up) {
    padding: 1rem 0 1rem 0;
    border-bottom: 2px solid $primary-text-color;
    border-top: 2px solid $primary-text-color;
  }
  @include for-size(big-desktop-up) {
    padding: 1rem 0 1rem 0;
    border-bottom: 2px solid $primary-text-color;
    border-top: 2px solid $primary-text-color;
  }
}
