// Commonly used colors and font's are declared as variables

$primary-color: #f5f5f5;
$primary-text-color: #2f2f2f;
$secondary-text-color: #363636;
$primary-font: "Droid Serif", serif;
$secondary-font: "Playfair Display", "serif";
$tertiary-font: "News Cycle";